.header {
  position: relative;
  z-index: 10;
  &-container {
    position: relative;
    z-index: 1;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto 2rem auto;
    width: 176rem;
    min-height: 7.7rem;
    flex-shrink: 0;
    border-radius: 10rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.09) 3.21%, rgba(255, 255, 255, 0.03) 18.43%, rgba(255, 255, 255, 0.08) 34.9%, rgba(255, 255, 255, 0.05) 55.7%, rgba(255, 255, 255, 0.13) 93.54%);
    @media (max-width: 1780px) {
      width: 153rem;
    }
    @media (max-width: 1550px) {
      width: 130rem;
    }
    @media (max-width: 1350px) {
      width: 98%;
    }
  }

  &-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0 auto;

    a {
      opacity: 0.6;
      color: #FFF;
      font-family: "Nunito Sans", sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: 0.5s ease-in-out;
      @media (max-width: 768px) {
        display: block;
        padding: 1rem;
        opacity: 0.8;
      }
      &:hover {
        opacity: 0.8;
      }
    }

    li.active a, .current-menu-item a {
      opacity: 1;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      & > *{

        @media (max-width: 768px) {
          width: 100%;
        }
      }
      & > *:not(:last-child) {
        margin-right: 2.8rem;
        @media (max-width: 1350px) {
          margin-right: 1.6rem;
        }
        @media (max-width: 768px) {
          margin-right: 0;
          border-bottom: 1px solid #fff;
        }
      }
    }
    @media (max-width: 1780px) {
      position: static;
      transform: translateY(0) translateX(0);
    }
    @media (max-width: 1024px) {
      z-index: 10;
      position: absolute;
      top: calc(100% + 1rem);
      left: 0;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      transform: translateY(-200rem);
      padding: 1.6rem;
      border-radius: 10rem;
      background: rgba(0,0,0,0.8);
      transition: 0.4s ease-in-out;
      @media (max-width: 768px) {
        border-radius: 4rem;
        padding: 2rem;
      }
    }

    &.active {
      @media (max-width: 1024px) {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__button {
    margin-left: 1.2rem;
    @media (max-width: 1350px) {
      margin-left: 1rem;
      padding: 1.2rem;
    }
  }

  &-button-register {
    @media (max-width: 450px) {
      display: none;
    }
  }
}

.logo {
  width: 16.3rem;
  height: 4.5rem;
  flex-shrink: 0;
  margin-right: auto;
  @media (max-width: 450px){
    width: 19rem;
    height: 5rem;
  }
  @media (max-width: 350px){
    width: 17rem;
  }
}

.burger {
  display: none;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: 0.5s ease;

    &:nth-child(2) {
      margin: auto;
    }
  }

  &.active {
    span {
      &:nth-child(1), &:nth-child(3) {
        opacity: 0;
      }
    }
  }

  @media (max-width: 1024px) {
    margin-left: 2rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
  }
}