.similar {
  display: flex;
  justify-content: space-between;

  &-title {
    text-align: left;
    margin-bottom: 0;

  }

  &-content {
    position: relative;
    z-index: 1;
  }

  &-section {
    &-head {
      margin-bottom: 6rem;
      align-items: center;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      @media (max-width: 450px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
      }
    }
  }

  &-controls {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1.2rem;
    }
  }
  &-slider{
    position: relative;
    z-index: 1;
    &-wrapper {
      position: relative;
    }
  }
}

.slick-slide .blog-item {
  width: 100%;
  max-width: 96%;
  margin: auto;
}