.subscribe {
  &-form-wrapper{
    width: 100%;
    .form {
      gap: 0;
    }
    .form-label {
      margin: 0;
    }
    button{
      position: absolute;
      width: auto;
      right: 0;
      top: 0;
      height: 100%;
      @media (max-width: 600px){
        width: auto!important;

      }

    }
    input{
      padding: 1.6rem 2rem;
      padding-right: 20rem;
      width: 100%;
      border-radius: 3rem;
      border: 1px solid #EDF0F6;
      background: #FFF;
      @media (max-width: 600px){
        margin-bottom: 0!important;

      }
      &,&::placeholder{
        color: #5D6F75;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    form {
      position: relative;
      width: 100%;
      display: flex;

    }
  }
  &-title {
    &:not(:last-child){
      margin-bottom: 2rem;
    }
    color: #000;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 1024px){
      font-size: 2.2rem;

    }
  }
  &-column {
    width: calc(50% - 1.5rem);
    padding: 4rem;
    border-radius: 1.5rem;
    border: 1px solid #EDF0F6;
    background: #FFF;
    @media (max-width: 991px) {
      width: calc(50% - 0.5rem);
      padding: 2rem;
    }
    @media (max-width: 767px) {
      width: 100%;

    }
    @media (max-width: 360px){
      padding: 2rem 0.5rem;

    }
  }
  &-columns {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {flex-direction: column;
      gap: 1rem;
    }
  }
}