.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito Sans", sans-serif;

  &-item {
    width: calc(33.3% - 1rem);
    &.quarter {
      width: calc(25% - 1.5rem);
      @media (max-width: 1200px) {
        width: calc(50% - 1rem);
      }
      @media (max-width: 550px) {
        width: 100%;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
    padding: 2rem;
    border-radius: 1.5rem;
    border: 1px solid #EDF0F6;
    background: rgba(255,255,255,1);
    @media (max-width: 1024px) {
      width: calc(50% - 1rem);
    }
    @media (max-width: 768px) {
      padding: 2rem 1rem;
    }
    @media (max-width: 550px) {
      width: 100%;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    &:hover{
      .advantages-item__icon{
        transform: scale(1.2);
      }
    }

    &__text {
      color: #5D6F75;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 2.88rem */
      @media (max-width: 425px){
        font-size: 1.6rem;
      }
    }

    &__title {
      margin-bottom: 1rem;
      color: #000;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 3.52rem */
      @media (max-width: 425px){
        font-size: 2rem;
      }
    }

    &__icon {
      margin-bottom: 1.6rem;
      width: 5.2rem;
      height: 5.2rem;
      flex-shrink: 0;

      transition: 0.5s ease;
      img, svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-section {
    padding-bottom: 8.5rem;
    @media (max-width: 768px) {
      padding: 4rem 0;
    }
    &-description {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
  }

  &-content {

  }

  &__title {
    margin-bottom: 1.6rem;
  }
}