.application-section {
  &-form {
    position: relative;
    z-index: 1;
    width: 57rem;

    @media (max-width: 1440px){
      width: 50rem;
    }
    @media (max-width: 1367px){
      width: 40rem;
    }
    @media (max-width: 900px){
      width: 100%;
    }
    flex-grow: 0;
    flex-shrink: 0;
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    textarea {
      height: 15.6rem;
    }
    .checkbox-wrapper {
      color: #FFF;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &-image {
    position: absolute;
    left: 30.5rem;
    z-index: 0;
    bottom: 0;
    width: 67rem;
    height: 44.7rem;
    flex-shrink: 0;
    @media (max-width: 1024px){
      left: 20.5rem;
    }
    @media (max-width: 900px){
      display: none;
    }
  }
  &-title {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (max-width: 992px){
      font-size: 4rem;

    }
    @media (max-width: 768px){
      font-size: 2.6rem;
    }
    &:not(:last-child) {
      margin-bottom: 1.6rem;
      @media (max-width: 992px){
        margin-bottom: auto;
      }
      @media (max-width: 900px){
        margin-bottom: 1.6rem;
      }
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 50.6rem;
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 2.56rem */
    @media (max-width: 900px){
      max-width: 100%;
      margin-bottom: 2rem;
      text-align: center;

    }
  }
  &-wrapper {
    position: relative;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    border-radius: 3rem;
    background: linear-gradient(90deg, #1EB593 0%, #084C3D 100%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    @media (max-width: 900px){
      flex-direction: column;
    }
    @media (max-width: 768px){
      padding: 3rem 2rem;
    }
    @media (max-width: 600px){
      padding: 2rem 1rem;
    }
  }
}