.cases {
  &-section {
    background: #F5FBFD;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px){
      flex-direction: column;
    }
  }

  &-text {
    width: calc(33.3% - 3rem);
    color: #647A82;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    @media (max-width: 767px){
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__title {
    text-align: left;
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 13rem;
      @media (max-width: 1024px){
        margin-bottom: 4rem;
      }
    }
  }

  &-controls {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 1.2rem;
    }
  }

  &-items {
    display: flex;
    width: 66%;
    justify-content: space-between;
    @media (max-width: 767px){
      width: 100%;
    }
  }
  &-item {
    width: 100%;
    max-width: 49rem;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    &__link {
      display: flex;
      align-items: center;

      color: #2FC385;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      &:hover{
        text-decoration: underline;
      }

      .icon{
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
        margin-left: 1rem;
      }
    }
    &__title {
      display: block;
      margin-bottom: 2.2rem;
      color: #000;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 160%;

      @media (max-width: 1024px){
        margin-bottom: 1.4rem;
        font-size: 1.8rem;
      }
      @media (max-width: 768px){
        font-size: 1.6rem;
        line-height: 140%;
      }
    }

    &__read-time {
      margin-bottom: 0.8rem;
      color: #647A82;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__image {
      margin-bottom: 1.6rem;
      width: 100%;
      height: 28rem;
      flex-shrink: 0;
      border-radius: 2rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;
      }

      @media (max-width: 1024px){
        height: 20rem;
      }
    }
  }
}

.slick-slide {
  .cases-item {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }
}