.functions {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  &-row{
    display: flex;
    gap: 3rem;
    @media (max-width: 700px){
      flex-direction: column;
    }
    &:nth-child(odd){
      & > *:nth-child(1){
        max-width: 88rem;
        @media (max-width: 700px){
          max-width: 100%;
        }
      }
    }
    &:nth-child(even){
      & > *:nth-child(2){
        max-width: 88rem;
        @media (max-width: 700px){
          max-width: 100%;
        }
      }
    }
  }

  &-item {
    width: 100%;
    max-width: 62rem;
    @media (max-width: 700px){
      max-width: 100%;
    }

    &__image {
      width: 100%;
      height: 33rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 1024px){
        height: 28rem;
      }
      @media (max-width: 768px){
        height: 22rem;
      }
      @media (max-width: 400px){
        height: 18rem;
      }
    }

    &__title {
      padding: 0 3rem;
      margin-bottom: 1.2rem;
      color: #000;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 3.52rem */
      @media (max-width: 400px){
        padding: 0 1.5rem;
      }
    }

    &__text {

      padding: 0 3rem;
      padding-bottom: 3rem;
      @media (max-width: 400px){
        padding: 0 1.5rem;
        padding-bottom: 1.5rem;
      }
    }

    border-radius: 2rem;
    background: #F5FBFD;
    color: #647A82;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 2.56rem */
  }

  &__title {
    margin-bottom: 4rem;
  }
}