.welcome {
  &-section {
    position: relative;
    padding-top: 9rem;
    text-align: center;

    @media (max-width: 991px) {
      padding-top: 4rem;
    }

    & > * {
      position: relative;
      z-index: 1;
    }

    &-decorative {
      position: absolute;
      z-index: 0;
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      min-height: 120rem;
      pointer-events: none;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

  }

  &-title {
    margin-bottom: 2rem;
  }

  &-description {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    width: 100%;
    max-width: 72rem;
    margin: 0 auto;
    color: #DDF9EE;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 2.88rem */
    @media (max-width: 550px) {
      font-size: 1.6rem;
    }
  }

  &-subtitle {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2FC385;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.024rem;
    text-transform: uppercase;

    &__icon {
      margin-right: 1rem;
    }
  }

  &-image {
    position: relative;
    border-top-right-radius: 3.5rem;
    border-top-left-radius: 3.5rem;
    width: 150rem;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 0 1.5rem;
    background: linear-gradient(247deg, rgba(255, 255, 255, 0.14) 16.47%, rgba(255, 255, 255, 0.04) 44.54%, rgba(255, 255, 255, 0.05) 64.3%, rgba(255, 255, 255, 0.15) 84.07%);
    transition: 0.5s ease;
    animation-duration: 2s;
    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-direction: alternate;

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: calc(100% + 3rem);
      height: calc(100% + 1.5rem);
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      border-top-right-radius: 4.3rem;
      border-top-left-radius: 4.3rem;
      background: linear-gradient(105deg, rgba(255, 255, 255, 0.15) -4.73%, rgba(255, 255, 255, 0.04) 37.65%, rgba(255, 255, 255, 0.05) 60.74%, rgba(255, 255, 255, 0.15) 94.47%);
      transition: 0.5s ease;
      animation-duration: 5s;
      animation-name: fade-in;
      animation-iteration-count: 1;
      animation-direction: alternate;
      @media (max-width: 450px) {
        width: calc(100% + 1rem);
        height: calc(100% + 0.5rem);
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      transition: 0.5s ease;
    }

    &__inner {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-top-right-radius: 3.5rem;
      border-top-left-radius: 3.5rem;
      overflow: hidden;
      @media (max-width: 450px) {

        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;

      }
    }

    &:hover {
      &:after {
        transform: translateX(-50%) scale(1.01);
      }

      img {
        transform: scale(1.01);
      }
    }

    @media (max-width: 1570px) {
      width: 120rem;
    }
    @media (max-width: 1250px) {
      width: 100rem;
    }
    @media (max-width: 991px) {
      width: 80rem;
    }
    @media (max-width: 768px) {
      width: 60rem;
    }
    @media (max-width: 600px) {
      width: 80%;
    }
    @media (max-width: 450px) {
      width: 95%;
      padding: 0.5rem 0.5rem 0 0.5rem;
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;

    }
  }

  &-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;

    @media (max-width: 550px) {
      flex-direction: column;
    }

    & > *:not(:last-child) {
      margin-right: 0.8rem;
      @media (max-width: 550px) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }

}

.head {
  &-section {
    background: rgba(2, 26, 26, 0.02);

    &--inner {
      padding-bottom: 10rem;
      padding-top: 2rem;
      @media (max-width: 991px) {
        padding-bottom: 4rem;
      }
    }
  }

}


.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 4.6rem;
  }

  span {
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
  }

  a {
    position: relative;
    display: block;
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    text-align: left;

    &:hover {
      opacity: 1;
    }

    &:after {
      position: absolute;
      display: block;
      content: '/';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:not(:last-child) {
      padding-right: 1.2rem;
      margin-right: 0.8rem;
    }
  }
}

.partnership {
  &-head {
    display: flex;
    justify-content: space-between;
    gap: 7rem;

    .page-title {
      @media screen and (min-width: 992px) and (max-width: 1024px) {
        font-size: 4.6rem;
      }
    }


    &__image {
      display: flex;
      align-items: flex-end;
      width: 48.4rem;
      height: 48.5rem;
      flex-grow: 0;
      flex-shrink: 0;
      margin-top: auto;
      @media (max-width: 900px) {
        width: 40rem;
        height: 40rem;
      }
      @media (max-width: 730px) {
        display: none;
      }
    }

    &-content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-width: 97rem;
      padding-bottom: 2rem;

    }

    &-description {
      max-width: 58rem;
      margin: 0;
    }

    &-section {
      padding-bottom: 0;
      text-align: left;

    }
  }
}

.single-services {
  &-section {
    padding-bottom: 0;
    text-align: left;

  }

  &__image {
    display: flex;
    align-items: flex-end;
    width: 75.3rem;
    height: 45.6rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: auto;
    transform: translateY(5px);
    @media (max-width: 1250px) {
      width: 60rem;
    }
    @media (max-width: 900px) {
      display: none;
    }



  }


  &-head {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .page-title {
      font-size: 6.6rem;

      @media screen and (min-width: 992px) and (max-width: 1024px) {
        font-size: 4.6rem;
      }
      @media (max-width: 1024px) {
        font-size: 4rem;
      }
    }


    &-content {
      padding-top: 7.2rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-width: 77.8rem;
      padding-bottom: 2rem;
      @media (max-width: 1440px) {
        padding-top: 0;
      }
      @media (max-width: 1250px) {
        padding-top: 7.2rem;
      }

      @media (max-width: 900px) {
        padding-top: 0;
        max-width: 100%;
        padding-bottom: 4rem;
      }

    }
    &-description {
      max-width: 58rem;
      margin: 0;
      @media (max-width: 900px) {
        max-width: 100%;
      }
    }
  }
}