.industries {
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  gap: 1.5rem;
  text-align: left;
  @media (max-width: 1250px){
    gap: 1rem;
  }
  &-item {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 29rem;
    height: 19rem;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: linear-gradient(84deg, rgba(255, 255, 255, 0.20) 15.19%, rgba(255, 255, 255, 0.09) 48.08%, rgba(255, 255, 255, 0.11) 70.55%, rgba(255, 255, 255, 0.20) 95.04%);
    backdrop-filter: blur(10px);
    color: #FFF;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    @media (max-width: 1550px){
      width: 19%;
    }
    @media (max-width: 1366px){
      padding: 1.6rem;
      font-size: 2rem;
    }
    @media (max-width: 900px){
      width: calc(25% - 1rem);
      max-width: 25%;
    }
    @media (max-width: 768px){
      width: calc(33% - 1rem);
      max-width: 33%;
    }
    @media (max-width: 550px){
      width: calc(50% - 1rem);
      max-width: 50%;
      font-size: 1.8rem;
    }
    @media (max-width: 360px){
      width: 100%;
      max-width: 100%;
    }
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s ease;
      opacity: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__title {
      position: relative;
      z-index: 1;
      margin-top: auto;
    }
    &__link {
      position: relative;
      z-index: 1;
      margin-left: auto;
      width: 4.8rem;
      height: 4.8rem;
      flex-shrink: 0;
    }
    &:hover {
      color: #000;
      background-position: 0 0;
      .industries-item__image {
        opacity: 1;
      }
      svg rect {
        fill: #FFF;
        fill-opacity: 1;
      }
    }
  }
}