@import "head";
@import "advantages";
@import "sectors";
@import "see-section";
@import "tariffs";
@import "partners";
@import "cases";
@import "reviews";
@import "application-section";
@import "faq";
@import "comparison";
@import "services";
@import "functions";
@import "industries";
@import "not-found";