.not-found{
  &__image {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    width: 144rem;
    height: 69rem;
    flex-shrink: 0;
    pointer-events: none;
    @media (max-width: 1550px){
      width: 100rem;
      height: 50rem;
    }

    @media (max-width: 1024px){
      width: 60rem;
      height: 30rem;
    }
    @media (max-width: 600px){
      width: 50rem;
      height: 25rem;
    }
    @media (max-width: 535px){
      width: 30rem;
      height: 15rem;
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
  &-title {
    margin-bottom: 2rem;
  }
  &__button {
    margin: 0;
  }
  &-description {
    margin: 0;
    margin-bottom: 5rem;
    text-align: left;
  }
  &-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &-section{
    min-height: 88rem;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
    @media (max-width: 1550px){
      min-height: 90vh;
    }
    @media (max-width: 1440px){
      min-height: 50vh;
    }
  }
}