.partners {
  display: flex;
  align-items: center;
  width: 100%;
  &-item{
    padding: 0 4rem;
    @media (max-width: 768px){
      padding: 0 1rem;
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20rem;
      height: 7rem;
      @media (max-width: 768px){
        width: 14rem;
        height: 5rem;
      }
      img{
        transition: 0.5s ease;
      }
      &:hover {
        img{
          transform: scale(0.9);

        }
      }
    }
  }
  &-section{
    padding: 6rem 2rem;
  }
}