.reviews {
  display: flex;
  justify-content: space-between;


  &-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5.5rem;
  }

  &-item {
    width: 100%;
    max-width: 49rem;
    padding: 3rem;
    flex-shrink: 0;
    border-radius: 2rem;
    border: 1px solid #EDF0F6;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(30px);
    transition: 0.4s ease-in-out;
    color: #5D6F75;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 2.56rem */
    &:hover {
      backdrop-filter: blur(10px);
    }


    @media (max-width: 1600px){
      padding: 3rem 2rem;
      max-width: 45rem;
    }
    @media (max-width: 400px){
      padding: 2rem 1rem;
    }
    &__head {
      display: flex;
      margin-bottom: 2rem;
    }

    &__position {
      color: #647A82;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.2rem; /* 137.5% */
    }

    &__name {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      color: #000;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 3.2rem */
    }

    &__image {
      margin-right: 1.5rem;
      flex-grow: 0;
      flex-shrink: 0;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &-title {
    text-align: left;
    margin-bottom: 0;
  }

  &-content {
    position: relative;
    z-index: 1;
  }

  &-section {
    &-head {
      margin-bottom: 4.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      @media (max-width: 450px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
      }
    }

    &-decorative {
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      &__item {
        position: absolute;
        width: 22rem;
        height: 21.5rem;
        flex-shrink: 0;
        fill: rgba(47, 195, 133, 0.50);
        opacity: 0.6;
        &:nth-child(3){
          left: 100%;
          transform: translateX(-200%);
          @media (max-width: 1370px){
            transform: translateX(-150%);
          }
          @media (max-width: 1024px){
            display: none;
          }
        }
        &:nth-child(2){
          left: 50%;
          transform: translateX(-100%);
          @media (max-width: 1370px){
            transform: translateX(-50%);
          }
          @media (max-width: 1024px){
            left: 100%;
            transform: translateX(-150%);
          }
          @media (max-width: 400px){
            display: none;
          }
        }
        &:nth-child(even){

          bottom: -1rem;
        }
        &:nth-child(odd){

          top: -1rem;
        }

      }
    }
  }

  &-controls {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1.2rem;
    }
  }
  &-slider{
    position: relative;
    z-index: 1;
    &-wrapper {
      position: relative;
    }
  }
}

.slick-slide .reviews-item {
  @media (max-width: 1600px){
    max-width: 96%;
    margin: auto;
  }
}