.services {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  &-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

  }

  &-item {
    display: flex;
    flex-direction: column;
    width: calc(33.3% - 1.5rem);
    max-width: 50rem;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: linear-gradient(84deg, rgba(255, 255, 255, 0.15) 15.19%, rgba(255, 255, 255, 0.07) 48.08%, rgba(255, 255, 255, 0.08) 70.55%, rgba(255, 255, 255, 0.15) 95.04%);
    backdrop-filter: blur(10px);
    transition: 1s ease;
    color: rgba(#DDF9EE, 0.8);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 2.56rem */
    text-align: left;
    @media (max-width: 1024px){
      width: calc(50% - 1.5rem);
      max-width: 50%;
    }
    @media (max-width: 600px){
      width: 100%;
      max-width: 100%;
    }

    & > *:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    &__link {width: 4.8rem;
      height: 4.8rem;
      flex-shrink: 0;
      transition: 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }

    }
    &__title {
      color: #FFF;
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: 768px){
        font-size: 2.4rem;
      }
    }

    &__logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 18rem;
      height: 4rem;
      flex-shrink: 0;
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      margin-top: auto;
    }
  }

  &-head {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    @media (max-width: 768px){
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-description {
    width: 100%;
    max-width: 46rem;
    margin: 0;
    text-align: left;
    @media (max-width: 768px){
      max-width: 100%;
    }
  }
}