.tariffs{
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  text-align: left;
  &-tabs-content{
    width: 100%;
  }
  &-item{
    padding: 4rem;
    width: calc(33.3% - 2rem);
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(57px);
    transition: 0.5s ease-in-out;
    @media (max-width: 1024px) {
      width: calc(33.3% - 1rem);
      padding: 4rem 2rem;
    }
    @media (max-width: 992px) {
      width: calc(50% - 1rem);
      padding: 4rem;
    }
    @media (max-width: 768px) {

      padding: 4rem 2rem;
    }
    @media (max-width: 600px) {
      width: 98%;
      padding: 2rem;
    }
    &:hover{
      background: rgba(255, 255, 255, 0.15);
    }
    &.active{
      background: rgba(255, 255, 255, 0.17);
      &:hover{
        background: rgba(255, 255, 255, 0.25);
      }
    }
    &__label{
      margin-left: 1rem;
      display: flex;
      padding: 0.8rem 2rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border-radius: 2rem;
      background: #2FC385;
      color: #FFF;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      @media (max-width: 1024px) {
        padding: 0.8rem;
      }
    }
    &__controls{
      width: 100%;
      margin-top: 5.2rem;
    }
    &__text{
      margin-bottom: auto;
      color: #C9D9DF;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      ul li{
        &:after{
          position: absolute;
          display: block;
          content: '';
          width: 0.6rem;
          height: 1.6rem;
          left: 0;
          top: 0;
          border: 3px solid #2FC385;
          border-top: none;
          border-left: none;
          transform: rotate(40deg);
        }
      }
      li{
        position: relative;
        padding-left: 2.8rem;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 2.56rem */
        &:not(:last-child){
          margin-bottom: 1.6rem;
          @media (max-width: 600px) {
            margin-bottom: 1rem;
          }
        }
      }
      &>*:not(:last-child){
        margin-bottom: 4rem;
        @media (max-width: 600px) {
          margin-bottom: 1rem;
        }
      }
    }
    &__title{
      margin-bottom: 1.2rem;
      color: #3CDE9A;
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @media (max-width: 1024px) {
        font-size: 2.6rem;
      }
      @media (max-width: 600px) {
        margin-bottom: 2rem;
      }
    }
    &__subtitle{
      flex-wrap: wrap;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      color: #FFF;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 1024px) {
        font-size: 2rem;
      }
      @media (max-width: 600px) {
        margin-bottom: 1rem;
      }
    }
  }
  &__title {
    color: #fff;
  }
  &-section {
    background-position: bottom center;
    color: #FFF;
    &-decorative{
      pointer-events: none;
      position: absolute;
      display: flex;
      justify-content: center;
      padding-top: 11rem;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img,svg {
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
      }
    }
  }
  &__description {
    margin-bottom: 3.2rem;
    width: 100%;
    max-width: 50rem;
    color: #C9D9DF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 2.56rem */
  }

}