@import "../../node_modules/slick-slider/slick/slick";
@import "../../node_modules/slick-slider/slick/slick-theme";
@import "base/keyframes";
@import "base/fonts";
@import "base/reset";
@import "base/style";
@import "base/tabs";
@import "header/header";
@import "components/init";
@import "footer/footer";
@import "blog/blog";
@import "blog/subscribe";
@import "blog/article";
@import "blog/similar";
@import "contact/contact";
